@font-face {
    font-family: 'gotham_roundedmedium';
    src: url('gothamrounded/gothamrnd_medium-webfont.woff2') format('woff2'),
         url('gothamrounded/gothamrnd_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    font-family: 'gotham_roundedmedium';
    font-weight:normal;
    font-style:normal;
}
    
.aboutproject2-container {
    display: flex;
    position: absolute;
    right: 0%;
    top: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
.aboutproject2-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 50vh;
    position: relative;
    right: 0px;
    /* margin-left: 50%; */
    margin-top: 3%;
    font-family: 'gotham_roundedmedium';
}

.aboutproject2-header {
    font-weight: 300;
    font-family: 'gotham_roundedmedium';
    /* margin-left: 20%; */
    margin-bottom: -1%;
    margin-top: -3rem;
    color: #3498db;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0.5rem;
    font-family: 'gotham_roundedmedium';
    color: black;
}

.input-group textarea {
    width: 100%;
    height: 100%; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-bottom: 3%;
}

.checkbox-wrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.button-row {
    display: flex;
    align-items: center;
}


.before-button {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    /* margin-top: 20%;
    margin-bottom: 1rem;
    margin-right: 75%; */
    font-family: 'gotham_roundedmedium';
    position: relative;
    max-width: 100px;
    width: 100%;
    margin-top: 5%;
}


.next-button {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    /* margin-top: 1rem;
    margin-bottom: 100%;
    margin-left: 75%; */
    font-family: 'gotham_roundedmedium';
    position: relative;
    max-width: 100px;
    width: 100%;
    margin-top: 5%;
    left:60%;
}


.before-button:hover {
    opacity: 0.9;
}

.next-button:hover {
    opacity: 0.9;
}


.saigonlogo {
    position: absolute;
    left: 0px;
    width: 7%;
    height: 7%;
    top: 4%;
    padding: 0px;
    margin-right: 50%;
    object-fit: cover;
  }