html {
    font-family: "Lato";
}

.signup-container {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%; 
    background-color: #ffffff;
}

.signup-image {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    padding: 0px;
    margin-right: 50%;
    object-fit: cover;
  }

.signup-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 50%;
    height: 50vh;
    position: relative;
    right: 0px;
    margin-left: 50%;
    margin-top: 10%;
}


.signup-header {
    font-weight: normal;
    font-family: "Noto Serif";
    margin-left: 20%;
}


.signup-text{
    margin-bottom: -1%;
    margin-left: 31%;
    font-weight: 500;
}

.toggle-switch {
    position: absolute;
    right: 105px; /* Adjust the right position as needed */
    top: 100px; /* Adjust the top position as needed */
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    width: 400px; /* need this for button width*/
    margin-top: 5%; 
    margin-left: 50%;
}


.toggle-switch button {
    flex-grow: 1; /* Make the buttons grow to fill available space equally */
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}
.toggle-switch button.active {
    background-color: #3498db;
    color: white;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0.5rem;
}


.input-group label {
    margin-bottom: 0.5rem;
}


.input-group input[type="username"],
.input-group input[type="password"]{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}


.signup-button {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.signup-button:hover {
    opacity: 0.9;
}

.already-have {
    margin-left: 15%;

}